.App {
  text-align: center;
  color: #2c3e50; /* Dark text color */
  background-color: #ecf0f1; /* Light background color */
  width: 90%;
  font-family: "Oswald", serif;
}

.App-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #3498db; /* Blue title color */
}

.App-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #2ecc71; /* Green subtitle color */
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
